@{
    ViewData["Title"] = "AddNewCourseParagraph";
}
@model CreateParagraphVM
<div class="row justify-content-between">
    <div class="col-lg-12 col-md-12 col-sm-12 pb-4">
        <div class="dashboard_wrap d-flex align-items-center justify-content-between">
            <div class="arion">
                <nav class="transparent">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index">Go To Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add New Paragraph</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="dashboard_wrap">

            <div class="form_blocs_wrap">
                <form method="post">
                    <div class="row justify-content-between">

                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link" id="v-pills-requirements-tab" data-toggle="pill" data-target="#v-pills-requirements" type="button" role="tab" aria-controls="v-pills-requirements" aria-selected="false">Add Course Paragraph</button>
                            </div>
                        </div>

                        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">

                            <div class="tab-content" id="v-pills-tabContent">

                                <div class="tab-pane fade" id="v-pills-requirements" role="tabpanel" aria-labelledby="v-pills-requirements-tab">
                                    <div class="form-group smalls">
                                        <label asp-for="Name">Add Paragraph</label>
                                        <div class="row m-0">
                                            <input asp-for="Name" type="text" class="col-9 col-sm-9 form-control" placeholder="Add Paragraph">
                                            <div class="col-3 col-sm-3">
                                                <button class="btn theme-bg" type="submit"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                        
                                    </div>

                                   
                                </div>


                               
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
</section>
