@{
    ViewData["Title"] = "SkillUp-SignIn";
}
@model LoginVM

<section>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
                <form method="post">
                    <div class="crs_log_wrap">
                        <div class="crs_log__thumb">
                            <img src="~/user/assets/img/registerlogin.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="crs_log__caption">
                            <div class="rcs_log_123">
                                <div class="rcs_ico"><i class="fas fa-lock"></i></div>
                            </div>

                            <div class="rcs_log_124">
                                <div class="Lpo09"><h4>Login Your Account</h4></div>
                                <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <label asp-for="UserNameOrEmail">User Name</label>
                                    <input asp-for="UserNameOrEmail" type="text" class="form-control" placeholder="User Name" />
                                    <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="*******" />
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn full-width btn-md theme-bg text-white">Login</button>
                                </div>
                            </div>
                            <div class="rcs_log_125">
                                <span><a asp-controller="accountinstructor" asp-action="signin">Login with Instructor Account</a></span>
                            </div>
                            
                        </div>
                        <div class="crs_log__footer d-flex justify-content-between">
                            <div class="fhg_45"><p class="musrt">Don't have account? <a asp-controller="account" asp-action="signup" class="theme-cl">SignUp</a></p></div>
                        </div>
                    </div>
                   
                </form>
            </div>

        </div>
    </div>
</section>
