
@{
    ViewData["Title"] = "UpdateLecture";
}

@model UpdateLectureVM
				<div class="row justify-content-between">
					<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
						<div class="dashboard_wrap d-flex align-items-center justify-content-between">
							<div class="arion">
								<nav class="transparent">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Add Course Videos</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="dashboard_wrap">

							<div class="form_blocs_wrap">
								<form method="post" enctype="multipart/form-data">
									<div class="row justify-content-between">

										<div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
											<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
												<button class="nav-link" id="v-pills-media-tab" data-toggle="pill" data-target="#v-pills-media" type="button" role="tab" aria-controls="v-pills-media" aria-selected="false">Media</button>
											</div>
										</div>

										<div class="col-xl-9 col-lg-8 col-md-7 col-sm-12">

											<div class="tab-content" id="v-pills-tabContent">
												<div class="tab-pane fade" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">
													<div class="form-group smalls">
														<label asp-for="Name">Lecture Name*</label>
														<input asp-for="Name" type="text" class="form-control" placeholder="Enter Lecture Name">
														<span asp-validation-for="Name" class="text-danger"></span>
													</div>
													<div class="form-group smalls">
														<video width="300px" height="200px" src="~/user/assets/coursevideo/@Model.VideoUrl" autoplay controls></video><br />
														<label asp-for="Video">Add Lecture Videos</label>
														<div class="custom-file">
															<input asp-for="Video" type="file" class="custom-file-input" id="customFile">
															<label asp-for="Video" class="custom-file-label" for="customFile">Choose file</label>
															<span asp-validation-for="Name" class="text-danger"></span>
														</div>
													</div>
									           <button class="btn btn-success" type="submit">Save Changes</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

