@model InfoVM
<ul class="nav-menu nav-menu-social align-to-right">
    @if (User.Identity.IsAuthenticated)
    {
        <ul class="nav-menu align-to-right">
            <li class="active">
                <a asp-controller="Home" asp-action="Index">@User.Identity.Name<span class="submenu-indicator"></span></a>
                <ul style="" class="nav-dropdown nav-submenu">
                    @if (Model.Instructor==null)
                    {

                        <li><a asp-action="Payment" asp-controller="Payment">Balance : $@(Model.AppUser.Wallet / 100)<i style="margin-left:8px" class="fas fa-wallet"> </i> </a></li>
                        <li><a asp-action="index" asp-controller="library">Library<i style="margin-left:8px" class="fas fa-video"></i> </a></li>
                        <li><a asp-action="product" asp-controller="library">My Books<i style="margin-left:8px" class="fas fa-book"></i> </a></li>


                    }
                    else
                    {
                        <li><a asp-area="InstructorPanel" asp-action="Index" asp-controller="Dashboard">Dashboard<i style="margin-left:8px" class="fas fa-chart-bar"></i> </a></li>
                        <li><a asp-action="Payment" asp-controller="Payment">Balance : $@(Model.Instructor.Wallet / 100)<i style="margin-left:8px" class="fas fa-wallet"> </i> </a></li>
                    }
                    <li><a asp-controller="Account" asp-action="Signout">SignOut<i style="margin-left:8px" class="fas fa-lock"></i></a> </li>
                </ul>
            </li>
        </ul>
    }
    else
    {
        <li>
            <a asp-controller="account" asp-action="signin" >
                <i class="fas fa-sign-in-alt mr-1"></i><span class="dn-lg">Sign In</span>
            </a>
        </li>

    }

</ul>