
@{
    ViewData["Title"] = "NotFound";
}

<section class="error-wrap">
				<div class="container">
					<div class="row justify-content-center">
						
						<div class="col-lg-6 col-md-10">
							<div class="text-center">
								
								<img src="~/user/assets/img/404.jpg" class="img-fluid" alt="">
								<span>This Page Not Found</span><br />
								<a class="btn theme-bg text-white btn-md" asp-controller="home" asp-action="index">Back To Home</a>
								
							</div>
						</div>
						
					</div>
				</div>
			</section>

